<section class="row">
  <div class="col-md-6">
    <div class="row">
      <div class="col-12">
        <label for="currencyComparation1"></label>
        <select class="form-control" placeholder="Moeda para câmbio" name="currencyComparation1" id="currencyComparation1">
          <option value="USD">USD - Dólar americano</option>
          <option value="CAD">CAD - Dólar canadense</option>
        </select>
      </div>
      
      <div class="col-12">
        <label for="currencyComparation2"></label>
        <select class="form-control" placeholder="Moeda para câmbio" name="currencyComparation2" id="currencyComparation2">
          <option value="USD">USD - Dólar americano</option>
          <option value="CAD">CAD - Dólar canadense</option>
        </select>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <h1 class="text-lg-left">$16,99</h1>
  </div>
</section>
