<section class="row">
  <div class="col-md-6">
    <div class="row">
      <div class="col-md-12 pt-4 pb-0">
        <div class="form-group">
          <div class="input-group">
            <label>
              <ngb-datepicker
                navigation="select"
                outsideDays="hidden"
                displayMonths="2"
                [showWeekdays]="true"
                [formControl]="dateFormControl"
                (dateSelect)="getQuotationByDate()"
                #dp>
              </ngb-datepicker>
            </label>
          </div>
        </div>
      </div>

      <div class="col-12 pt-0">
        <label for="firstCurrency"></label>
        <ng-select
          id="firstCurrency"
          placeholder="Selecione a moeda..."
          [items]="currencies"
          bindLabel="formatedName"
          bindValue="symbol"
          (change)="getFirstQuotation()"
          [formControl]="firstCurrencyFormControl"
          [ngStyle]="{ width: '88%' }">
        </ng-select>
      </div>

      <div class="col-12">
        <label for="secondCurrency"></label>
        <ng-select
          id="secondCurrency"
          placeholder="Selecione a moeda..."
          [items]="currencies"
          bindLabel="formatedName"
          bindValue="symbol"
          (change)="getSecondQuotation()"
          [formControl]="secondCurrencyFormControl"
          [ngStyle]="{ width: '88%' }">
        </ng-select>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="row">
      <div class="col-6">
        <div class="row" *ngIf="dateFormControl.value && firstCurrencyFormControl.value">
          <div class="col-md-4 pt-4">
            <h1 class="text-lg-left">
              <strong>{{ firstCurrencyFormControl.value }}</strong>
            </h1>
          </div>
          <div class="col-md-8 pt-4">
            <h1 class="text-lg-left">{{ firstQuotation.buy }}</h1>
          </div>
        </div>
        <div class="row" *ngIf="dateFormControl.value && firstCurrencyFormControl.value">
          <div class="col-12">
            <ul class="list-group" [ngStyle]="{ fontSize: '.8rem' }">
              <li class="list-group-item">
                <strong>Boletim:</strong> {{ firstQuotation.notice }}<br>
                <strong>Data e hora</strong> {{ firstQuotation.dateTime | date: 'dd/MM/yyyy' }} {{ firstQuotation.dateTime | date: 'hh:mm' }}<br>
                <strong>Venda</strong> {{ firstQuotation.sell }}<br>
                <strong>Compra</strong> {{ firstQuotation.buy }}
              </li>
            </ul>
          </div>
          <div class="col-12 pt-3">
            <label>
              <input type="text" class="form-control" [formControl]="amountFirstCurrencyFormControl">
            </label>
          </div>
        </div>
      </div>

      <div class="col-6">
        <div class="row" *ngIf="dateFormControl.value && secondCurrencyFormControl.value">
          <div class="col-md-4 pt-4">
            <h1 class="text-lg-left">
              <strong>{{ secondCurrencyFormControl.value }}</strong>
            </h1>
          </div>
          <div class="col-md-8 pt-4">
            <h1 class="text-lg-left">{{ secondQuotation.buy }}</h1>
          </div>
        </div>
        <div class="row" *ngIf="dateFormControl.value && secondCurrencyFormControl.value">
          <div class="col-12">
            <ul class="list-group" [ngStyle]="{ fontSize: '.8rem' }">
              <li class="list-group-item">
                <strong>Boletim:</strong> {{ secondQuotation.notice }}<br>
                <strong>Data e hora:</strong> {{ secondQuotation.dateTime | date: 'dd/MM/yyyy' }} {{ secondQuotation.dateTime | date: 'hh:mm' }}
                <strong>Venda:</strong> {{ secondQuotation.sell }}<br>
                <strong>Compra:</strong> {{ secondQuotation.buy }}<br>
              </li>
            </ul>
          </div>
          <div class="col-12 pt-3">
            <label>
              <input type="text" class="form-control" [formControl]="amountSecondCurrencyFormControl" readonly>
            </label>
          </div>
        </div>
      </div>
    </div>
    <div class="row pt-5">
      <div class="col-12" *ngIf="secondQuotation && firstQuotation" [ngStyle]="{ background: '#fcfcfc' }">
        <h1 [ngStyle]="{ fontSize: '8rem' }">
          {{ this.amountSecondCurrencyFormControl.value }}
        </h1>
      </div>
    </div>
  </div>
</section>
